{% extends 'base-frontend.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
<h1>Nos Services:</h1>
<div class="col-12 col-md-12">
    <hr>
    <p>
        VEREX aide ses clients à relever leurs défis et objectifs stratégiques, et grâce aux données et à la technologie, nos services et solutions prétendent offrir de l'efficacité et aider nos clients à se développer et à se transformer.
    </p>
</div>
<hr>
<h3>Systèmes ISO</h3>
<div class="col-12 col-md-12">
    <p>
        Implantation de systèmes de gestion basés sur les exigences des normes ISO 9001, 14001, 45001, 26000 et bien d'autres;
    </p>
</div>
<hr>
<h3>Audits Internes</h3>
<div class="col-12 col-md-12">
    <p>
        Programmation et réalisation d'audits internes et fournisseurs ;
    </p>
</div>
<hr>
<h3>Applications Web</h3>
<div class="col-12 col-md-12">
    <p>
        Développement et programmation de pages web et d'applications mobiles.
    </p>
</div>
<h3>Autres Services</h3>
<div class="col-12 col-md-12">
    <hr>
    <p>
        
    </p>
</div>
<div class="row">
{% for service in services %}
<div class="col-12 col-md-3 d-flex align-items-stretch">
    <div class="card">
        {% set image = "default.webp" %}
        {% if service.imageName is not null %}
        {% set image = service.imageName %}
        {% endif %}
        <img src="{{ asset('images/image/' ~ image) }}" class="card-img-top" alt="{{ service.name }}">
        <div class="card-body d-flex justify-content-center">
            <div class="align-self-end text-center">
                <h5 class="card-title">{{ service.name }}</h5>
                <a href="{{ path('app_front_service', {'slug': service.slug }) }}" class="btn btn-dark">Voir</a>
            </div>
            {# <p class="card-text">{{ service.term }}</p> #}
        </div>
    </div>
</div>
{% else %}
{# Aucun service #}
{% endfor %}

</div>

{% endblock %}
