{% extends "base-frontend.html.twig" %}

{% block title %}
	{{ service.name }}
{% endblock %}

{% block body %}

	<h1>{{ service.name }}</h1>
	<div class="row">
		{% if service.imageName is not null %}
			{% set image = service.imageName %}
		{% else %}
			{% set image = "default.webp" %}
		{% endif %}
		<div class="col-12 col-md-3">
			<img src="{{ asset('images/image/' ~ image) }}" alt="illustration du service {{ service.name }}" class="img-fluid">
		</div>

		<div class="col-12 col-md-9">
			{% if service.term is not null %}
				{{ service.term|raw }}
			{% else %}
				<p>Il n'ya pas de encore de term pour ce service</p>
			{% endif %}
		</div>
	</div>
	<h2>systemes gestion ISO 9001
	</h2>
	<div class="row">
		{% for type in service.types %}
        <div class="col-12 col-md-3 col-lg-2 d-flex align-items-stretch">
			<div class="card">
                {% if type.images|length > 0 %}
                    {% set image = type.images[0].imageName %}
                {% else %}
                    {% set image = "default.webp" %}
                {% endif %}
				<img src="{{ asset('images/image/' ~ image) }}" class="card-img-top" alt="{{ type.name }}">
				<div class="card-body d-flex flex-wrap">
					<h5 class="card-title">{{ type.name }}</h5>
					<p class="card-text w-100">{{ type.term }}</p>
					<a href="{{ path('app_front_type', {slug: type.slug}) }}" class="btn btn-dark align-self-end">Voir</a>
				</div>
			</div>
		</div>
    </div>
	{% endfor %}

{% endblock %}
