<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Le CDN de fa #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        {# Le cdn de https://cdnjs.com/libraries/font-awesome/6.4.0 #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Favicons -->
        <link rel="stylesheet" href="{{ asset('img/favicon.png') }}" rel="icon">
        <link rel="stylesheet" href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <!-- Vendor CSS Files -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
        <link rel="stylesheet" href="{{ asset('css/swiper-bundle.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/glightbox.min.css') }}">

        <!-- Main CSS File -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        <!-- =======================================================
        * Template Name: VEREX
        * Updated: March 05 2025 with BPS
        * Author: Príncipe DA SILVA
        * License: https://verexao.com/license/
        ======================================================== -->
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        {% include 'common_front/_top-nav.html.twig' %}
        <main class="container-xl py-4 shadow bg-white">
        {# On met une alert Boostrap si necessaire #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        </main>
        {% include 'common_front/_footer.html.twig' %}
        
        {# Le CDN du jquery #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
