<footer
	class="bg-white text-dark p-2 footer">
	{# On inclut le logo et la deuxième partie de la navbar #}
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<div class="container-fluid">
			<img src="{{ asset('images/vrxlogo.webp') }}" alt="logo" height="95px" width="300px;"/>
			<a class="navbar-brand" href="{{ path('app_home2') }}"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav w-100">
					<li class="nav-item  ms-auto">
						<a class="nav-link active" aria-current="page" href="{{ path('app_front_contact') }}">Contact</a>
					</li>		

					{% if is_granted("ROLE_ADMIN") %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin') }}"></a>
					</li>
					{% endif %}
					<li class="nav-item">
						{# <a class="nav-link" href="{{ path('app_front_user') }}">Portal Client</a> #}
						{% if is_granted("ROLE_USER") %}
						<a class="nav-link" href="{{ path('app_logout') }}"><i class="fa-sharp fa-solid fa-globe"></i></a>
						{% else %}
						<a class="nav-link" href="{{ path('app_login') }}">MyVerex Portal</a>
						{% endif %}
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin_legal') }}">Légales et confidentialité</a>
					</li>

					
				</ul>
			</div>
		</div>
	</nav>
	<div
		class="container-fluid w-100">
		{# On inclut le registre juridique #}
		<p>VEREX, Limitada, société limitée par les garanties des droits angolais.</p>
		{# On inclut le copyright et la date #}
		<div class="ms-lg-auto d-flex align-items-center">
			&copy;
			{{ ""|date('Y') }}
			-  "VEREX. All rights reserved"

			<div class="ms-lg-auto ">
				{# <a class="nav-link" href="#https://www.linkedin.com/in/prince-bassinga-24568322a/"><i class="fa-brands fa-linkedin"></i></a> #}
				<a class="nav-link" href="https://www.linkedin.com/in/prince-bassinga-24568322a" class="hyperlink-icon-linkedin" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
			</div>

			<div class="p-3">
				<a class="nav-link" href="https://twitter.com/VEREX136673" class="hyperlink-icon-linkedin" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter"></i></a>
			</div>
		</div>
	</div>
</footer>